.TBDUn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.TBDUn .team-container {
    margin-top: -3px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.TBDUn .team-container .team-title {
    flex-basis: 100%;
    font-size: 12px;
    opacity: 0.6;
}

.TBDUn .seperator {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 10px;
    flex-basis: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
}
.TBDUn .team-container {
    margin-top: -3px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.TBDUn .hero-img {
    margin-top: 3px;
    margin-right: 5px;
    position: relative;
}
.TBDUn .hero-placeholder {
    display: inline-block;
    height: 30px;
    width: 53px;
    box-shadow: rgba(21, 21, 21, 0.61) 0px 0px 5px inset;
    background: rgba(18, 24, 37, 0.98);
}
.TBDUn .team-container div {
    text-align: center;
}